
<nav class="b-navigation b-navigation_scroll">
    <div class="navigation-content">
        <div class="logo-container">
            <a href="/">
                <svg class="manifold" width="27px" height="80px" viewBox="0 0 27 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="main" sketch:type="MSArtboardGroup" transform="translate(-139.000000, 0.000000)" fill="#39A9ED">
                        <g id="manifold" sketch:type="MSLayerGroup" transform="translate(140.000000, 26.000000)">
                            <g id="Page-1" sketch:type="MSShapeGroup">
                                <g id="Artboard-1">
                                    <path d="M0.0169624317,25.997453 L2.07896838,19.5902506 L14.9300565,19.5902506 L14.9300565,13.442799 C14.9300565,10.0948741 14.6592912,8.09985867 14.1177514,7.45769165 C13.5762116,6.81552551 11.8752472,6.49444732 9.01480641,6.49444732 L1.24583417,6.49444732 L3.30784012,0.087244041 L9.91042549,0.087244041 C14.0900008,0.087244041 16.8809714,0.722186011 18.2834199,1.99208857 C19.1165583,2.72805449 19.6650324,3.64799816 19.9288591,4.75194793 C20.1926867,5.85589681 20.3245975,7.77154479 20.3245975,10.4989486 L20.3245975,19.5902506 L23.6571326,19.5902506 L21.615955,25.997453 L0.0169624317,25.997453 L0.0169624317,25.997453 Z" id="ב"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
                </svg>
            </a>
        </div>
        <ul class="navigation-items">
            <li class="navigation-item_always">
                <div class="nav-btn">
                    <div class="btn btn_size-inline btn_rounded btn_green js-contact">Контакты</div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<section class="auth-box" style="display: none;">
    <div class="blur-back"></div>
    <div class="grid grid-pad" style="padding:0;">
        <div class="col-1-1" style="padding-right: 0;">
            <div class="content">
                <div class="navigation-content active">
                    <ul class="navigation-items">
                        <li class="navigation-item-mobile-icon" style="display:block;">
                            <label class="mobile-menu-label active js-auth-box">
                                <span class="mobile-menu-stroke mobile-menu-stroke_top active">
                                    <span class="mobile-menu-stroke__top active"></span>
                                </span>
                                <span class="mobile-menu-stroke mobile-menu-stroke_bottom active">
                                    <span class="mobile-menu-stroke__bottom active"></span>
                                </span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="grid grid-pad" style="padding:0;">
                    <div class="contact-container">
                        <div class="grid grid-pad grid_above" style="padding-top:0;">
                            <div class="col-7-12">
                                <div class="contact-form-box">
                                    <form class="email-form-box email-form">
                                        <h1 class="email-form__header">Свяжитесь с нами.</h1>
                                        <div class="email-form-steps">
                                            <div class="email-form-step active js-step-1">
                                                <h1 class="email-form-step__header">Пожалуйста, введите ваш <span>email адрес</span></h1>
                                                <div class="email-form-field">
                                                    <div class="col-8-12 _reM">
                                                        <input type="text" class="email-form-field__email js-email-field" placeholder="name@domain.com">
                                                    </div>
                                                    <div class="col-4-12">
                                                        <button class="btn btn_rounded js-email-next" disabled>Далее -></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="email-form-step js-step-2">
                                                <h1 class="email-form-step__header">Введите ваше <span>имя</span></h1>
                                                <div class="email-form-field">
                                                    <div class="col-8-12 _reM">
                                                        <input type="text" class="email-form-field__email js-name-field" placeholder="Your Name">
                                                    </div>
                                                    <div class="col-4-12">
                                                        <button class="btn btn_rounded js-name-next" disabled>Далее -></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="email-form-step js-step-3">
                                                <h1 class="email-form-step__header">Оставтье ваше <span>сообщение</span></h1>
                                                <div class="email-form-field">
                                                    <div class="col-1-1 _reM">
                                                        <textarea type="text" class="email-form-field__message js-message-field" placeholder="Put your message here"></textarea>
                                                    </div>
                                                    <div class="col-1-1">
                                                        <button class="btn btn_rounded btn_green js-message-next">Отправить</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="email-form-step js-step-4">
                                                <h1 class="email-form-step__header">Ваше сообщение успешно <span class="email-form-step_success">отправлено!</span></h1>
                                            </div>
                                        </div>
                                        <h2 class="email-form__asap">(Мы свяжемся с вами в самое ближайшее время) </h2>
                                    </form>
                                </div>
                            </div>
                            <div class="col-5-12">
                                <div class="contact-visual-box">
                                    <img class="visual-box__img" src="{{ asset "img/paper-plane.png"}}" alt="Betlabs message">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>